<!-- Footer -->
<footer class="py-5 bg-black footerevent">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Faculty of Computer Science Universitas Indonesia 2019</p>
    </div>
    <!-- /.container -->
</footer>