<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link href="/css/one-page-wonder.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/sockjs.min.js" type="text/javascript"></script>
<script src="/js/stomp.js" type="text/javascript"></script>
<script src="/js/get-form-data.js" type="text/javascript"></script>
<script src="/js/check-authentication.js" type="text/javascript"></script>
<script src="/js/notification-websocket.js" type="text/javascript"></script>