<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">EVENTHUNTER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" id="link-navbar">
                <li class="nav-item">
                    <div id="auth-loading-div" class="spinner-border text-primary"></div>
                </li>
            </ul>
            <script type="text/javascript">
                $(document).ready(function() {
                    function authenticatedHandler(){
                        $("#link-navbar").empty();
                        $("#link-navbar").append(`<li class="nav-item"><a class="nav-link" href="/event/create">Create Event</a></li>`);
                        $("#link-navbar").append(`<li class="nav-item"><a class="nav-link" href="/user/events">My Managed Events</a></li>`);
                        $("#link-navbar").append(`<li class="nav-item"><a class="nav-link" href="/user/tickets">My Tickets</a></li>`);
                        $("#link-navbar").append(`<li class="nav-item"><a class="nav-link" href="/user/sign-out">Sign Out</a></li>`);
                    }
                    function notAuthenticatedHandler(){
                        $("#link-navbar").empty();
                        $("#link-navbar").append(`<li class="nav-item"><a class="nav-link" href="/user/sign-up">Sign Up</a></li>`
                                                +`<li class="nav-item"><a class="nav-link" href="/user/sign-in">Sign In</a></li>`);
                    }
                    checkAuthentication(authenticatedHandler, notAuthenticatedHandler);
                })
            </script>
        </div>
    </div>
</nav>