.checkoutWrapper{
    width:100vw;
    height:100vh;
    font-family: Helvetica Neue',Helvetica,Arial,sans-serif;;
}

.checkoutContentPub{
    width: 100%;
    position: relative;
    font-size: 1.1em;
    line-height: 1.2em;
    padding-top: 100px;
    z-index: 0;
}
.checkoutContent{
    min-width: 700px;
    vertical-align: top;
    text-align: left;
    width:960px;
    margin:auto;
}
.checkoutHeader{
    margin-bottom: 18px;
    padding-bottom: 14px;
}
#tableHeader{
    width: 960px;
    border-collapse: collapse;
    border-spacing: 0;
}
#infoTable{
    vertical-align: bottom;
}
#logoTable{
    text-align: right;
}
.col-left{
    float: left;
    width: 628px;
    padding: 0;
}
.panel-left{
    min-width: 400px;
    width: 100%;
    margin-bottom: 26px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    clear: both;
}
.summaryHead{
    width: auto;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    background-color: #efefef;
    color: #005580;
    border-color: #d5d5d3;
    border-style: solid;
    border-width: 1px 1px 0;
    padding: 6px 11px 7px 14px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.summaryBody{
    width: auto;
    background-color: #fff;
    border-color: #d5d5d3;
    border-style: solid;
    border-width: 1px;
    padding: 13px 14px;
    word-wrap: break-word;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    font-size: 13px;
    line-height: 1.6em;
}
 #capthaBox{
     width:150px;
     height:50px;
     border: 2px solid black;
     margin-bottom: 4px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
 }
#text1{
    width:50%;
}
