/*!
 * Start Bootstrap - One Page Wonder v5.0.4 (https://startbootstrap.com/template-overviews/one-page-wonder)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-one-page-wonder/blob/master/LICENSE)
 */

 body {
    font-family: 'Lato';
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Catamaran';
    font-weight: 800 !important;
  }
  
  .btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  
  .bg-black {
    background-color: #000 !important;
  }
  
  .rounded-pill {
    border-radius: 5rem;
  }
  
  .navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .navbar-custom .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
  
  .navbar-custom .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
  
  .bg-primary {
    background-color: #ee0979 !important;
  }
  
  .btn-primary {
    background-color: black;
    border-color: black;
    color:white;
  }
  .btn-secondary{
    background-color:white;
    border-color:white;
    color:black;
  }
  
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: white !important;
    border-color: white !important;
    color:black;
  }
  .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover{
    background-color:black;
    border-color:black;
    color:white;
  }
  
  .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
  }
  
  /* .btn-secondary {
    background-color: #ff6a00;
    border-color: #ff6a00;
  }
  
  .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #cc5500 !important;
    border-color: #cc5500 !important;
  }
  
  .btn-secondary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
  } */
  

#tabletickets {
    padding-top: 25px;
    min-height:85vh;
}
