.signoutWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    width:100vw;
    height:100vh;
}
#sign{
    width:100vw;
    height:100vh;
}
#sign .row{
    width:100%;
    height:100%;
}
#background{
    background:url("/img/sign.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#right{
    padding-top:10%;
}
.btn-black {
    background-color: black;
    border-color: black;
    color:white;
  }
  .btn-black:active, .btn-black:focus, .btn-black:hover {
    background-color: white !important;
    border-color: white !important;
    color:black;
  }
  #sign a{
      color:black;
  }