<DOCTYPE html>
<head>
   
    <% include ../../partials/header.ejs %>
    <link href="/css/one-page-wonder.min.css" rel="stylesheet">
    <title>EventHunter | Checkout</title>
    <link rel="stylesheet" href="/css/checkout.css" />
    <script src="/js/captha.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>

</head>
<body>
    <% include ../../partials/navbar.ejs %>
    <div class="checkoutWrapper">
        <div class="checkoutContentPub">
            <div class="checkoutContent">
                <div class="chekoutHeader">
                    <table id="tableHeader">
                        <tbody>
                            <tr>
                                <td id="infoTable">
                                    <div class="infoHeader">
                                        <h3 style="color:black; font-weight: bold" id="eventsName"></h3>
                                        <h4 style="color:#3659E3;" id="managerName"></h4>
                                        <h4 style="color: #005580;" id="startDate"></h4>
                                        <h4 style="color: #005580;"id="location"></h4>
                                    </div>

                                </td>
                                <td id="logoTable">
                                    <img  style="max-height:200px;max-width:200px;"id="imageEvent" src="" />
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>
                <div class="col-left">
                    <div class="panel-left">
                        <div id="orderSummary">
                            <div class="summaryHead">
                                <h6>Order Summary</h6>
                            </div>
                            <div class="summaryBody">
                                <h5>Type: <span id="ticketType">Free</span> </h5>
                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-left">
                    <div class="panel-left">
                        <div id="registInformation">
                            <div class="summaryHead">
                                <h6>Registration Information</h6>
                            </div>
                            <div class="summaryBody">
                                <form>
                                    <div class="form-row">
                                       
                                        <div class="col">
                                            <label for="lastName">Username:</label>
                                            <input type="text" readonly class="form-control-plaintext" value="" id="userName" placeholder="username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ticketQty">Quantity:</label>
                                        <input type="number" class="form-control-plaintext" value="1" placeholder="number of tickets..." min="1" id="ticketQty" style="width:50%;">
                                        
                                    </div>
        
                                    <div class="form-group">

                                        <div id="capthaBox">

                                        </div>

                                        <input class="form-control" id="text1" type="text">
                                    </div>

                                </form>
                                <button class="btn btn-primary btn-lg" id="checkoutButton" >Checkout</button>

                            </div>
                        </div>
                    </div>
                </div>
            


            </div>
        </div>

    </div>
    <% include ../../partials/footer.ejs %>
    <script src="/js/check-authentication.js"></script>
    <script src="/js/check.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                crossDomain: true,
                type: "get",
                url: "https://eventhunter-authentication.herokuapp.com/user/get-details",
                beforeSend: function(xhr) {
                    if (localStorage.getItem("token")) {
                        xhr.setRequestHeader("Authorization", localStorage.getItem("token"));
                    }
                },
                success: function(data) {
                    $("#userName").attr("value", data["username"]);
                },
                error: function() {
                    alert("Unknown error.");
                }
            });
        });
    </script>
</body>
</html>
