<DOCTYPE html>
        <head>
           
            <% include ../../partials/header.ejs %>
            <link href="/css/one-page-wonder.min.css" rel="stylesheet">
            <title>EventHunter | Delete Ticket</title>
            <link rel="stylesheet" href="/css/checkout.css" />
            <script src="/js/captha.js"></script>
            <script src="/js/jquery-3.3.1.min.js"></script>
        
        </head>
        <body>
            <% include ../../partials/navbar.ejs %>
            <div class="checkoutWrapper">
                <div class="checkoutContentPub">
                    <div class="checkoutContent">
                        <div class="chekoutHeader">
                            <table id="tableHeader">
                                <tbody>
                                    <tr>
                                        <td id="infoTable">
                                            <div class="infoHeader">
                                                <h3 style="color:black; font-weight: bold" id="eventsName"></h3>
                                            </div>
                                        </td>
                                        <td id="logoTable">
                                            <img id="imageEvent" src="" />
                                        </td>
                                    </tr>
                                </tbody>
        
                            </table>
        
                        </div>
                        <div class="col-left">
                            <div class="panel-left">
                                <div id="registInformation">
                                    <div class="summaryHead">
                                        <h6>Ticket Information</h6>
                                    </div>
                                    <div class="summaryBody">
                                        <form>
                                            <div class="form-row">
                                               
                                                <div class="col">
                                                    <label for="lastName">userName:</label>
                                                    <p id="userName"></p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="ticketQty">Quantity:</label>
                                                <p id="ticketQuantity"></p>
                                            </div>
                
                                            <div class="form-group">
        
                                                <div id="capthaBox">
        
                                                </div>
        
                                                <input class="form-control" id="text1" type="text">
                                            </div>
        
        
        
                                           
        
                                        </form>
                                        <button class="btn btn-primary btn-lg" id="deleteButton" >Delete</button>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    
        
        
                    </div>
                </div>
        
            </div>
            <% include ../../partials/footer.ejs %>
            <script src="/js/check-authentication.js"></script>
            <script src="/js/delete.js"></script>
        
        </body>
        </html>
        