<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/header.ejs %>
        <title>EventHunter | My Tickets</title>
        <link href="/css/usertickets.css" rel="stylesheet">
    </head>
    <body>
        <% include ../../partials/navbar.ejs%>
        <section>
            <div class="container pb-5" id="tabletickets">
                    <h1 class="text-center pb-3 pt-5">My Managed Events</h1>
                    <table id="events-list" class="table table-responsive table-bordered">
                        <tr>
                            <th class="text-center">Title</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Location</th>
                            <th class="text-center">Start Time</th>
                            <th class="text-center">End Time</th>
                            <th class="text-center">Total Tickets</th>
                            <th class="text-center">Cancel this event?</th>
                        </tr>
                    </table>
            </div>
        </section>
        <% include ../../partials/footer.ejs %>
        <script type="text/javascript">
            $(document).ready(function() {
                $.ajax({
                    crossDomain: true,
                    type: "get",
                    url: "https://eventhunter-eventmanager.herokuapp.com/event/get-managed-events",
                    beforeSend: function(xhr) {
                        if (localStorage.getItem("token")) {
                            xhr.setRequestHeader("Authorization", localStorage.getItem("token"));
                        }
                    },
                    success: function(data) {
                        for (var i = 0; i < data.length; i++) {
                            $("#events-list").append(`
                                <tr id=\"` + (i+1) + `\">
                                    <td class="text-center">` + data[i].title + `</td>
                                    <td class="text-center">` + data[i].category + `</td>
                                    <td class="text-center">` + data[i].location + `</td>
                                    <td class="text-center">` + data[i].startTime + `</td>
                                    <td class="text-center">` + data[i].endTime + `</td>
                                    <td class="text-center">` + data[i].totalTickets + `</td>
                                   <td><button onclick="deleteEvent(`+data[i].id+`,'`+data[i].title+`')"class=\"btn btn-success btn-block rounded-pill\" id=\"btn` + data[i].id + `\">Press This</td>
                                </tr>
                            `);
                        }
                    },
                    error: function() {
                        alert("Unknown error.");
                    }
                });
            });

            function deleteEvent(id, title){
                if (prompt("Please type \"" + title + "\" to proceed or close this modal to cancel.") == title) {
                    $.ajax({
                        contentType: "application/json",
                        crossDomain: true,
                        data: JSON.stringify({"id": id}),
                        type: "post",
                        url: "https://eventhunter-eventmanager.herokuapp.com/event/delete",
                        beforeSend: function(xhr) {
                            if (localStorage.getItem("token")) {
                                xhr.setRequestHeader("Authorization", localStorage.getItem("token"));
                            }
                        },
                        success: function(data) {
                            alert("Delete event success.");
                            $(location).attr("href", "/user/events");
                        },
                    });
                }
                else {
                    alert("Delete event fail.")
                }
            }
        </script>
    </body>
</html>
