<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/header.ejs %>
        <title>EventHunter | My Tickets</title>
        <link href="/css/usertickets.css" rel="stylesheet">
    </head>
    <body>
        <% include ../../partials/navbar.ejs%>
        <section>
            <div class="container pb-5" id="tabletickets">
                    <h1 class="text-center pb-3 pt-5">My Tickets</h1>
                    <table id="tickets-list" class="table table-bordered">
                        <tr>
                            <th class="text-center">Events Name</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Cancel this event?</th>
                        </tr>
                    </table>
            </div>
        </section>
        <% include ../../partials/footer.ejs %>
        <script type="text/javascript">
            $(document).ready(function() {
                $.ajax({
                    crossDomain: true,
                    type: "get",
                    url: "https://eventhunter-eventmanager.herokuapp.com/purchased-tickets/get-all",
                    success: function(data) {
                        for (var i = 0; i < data.length; i++) {
                            $("#tickets-list").append(`
                                <tr id=\"` + (i+1) + `\">
                                    <td class="text-center">` + data[i].eventsName + `</td>
                                    <td class="text-center">` + data[i].quantity + `</td>
                                   <td><button onclick="goto(`+data[i].id+`)"class=\"btn btn-success btn-block rounded-pill\" id=\"btn` + data[i].id + `\">Press This</td>
                                </tr>
                            `);
                        }
                    },
                    error: function() {
                        alert("Unknown error.");
                    }
                });
            });

            function goto(id){
                window.location.href=`/ticket/delete?id=`+id
            }
        </script>
    </body>
</html>
