<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/header.ejs %>
        <link href="/css/user.css" rel="stylesheet">
        <link href="/css/one-page-wonder.min.css" rel="stylesheet">
        <title>EventHunter | Sign Up</title>
    </head>
    <body>
        <% include ../../partials/navbar.ejs%>
        <div class="container-fluid" id="sign">
            <div class="row" >
                <div class="col-sm-3 col-md-6" id="background">   
                </div>
                <div class="col-sm-9 col-md-6" id="right">
                        <h1 class="text-center">Sign Up</h1>
                        <form id="sign-up-form">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input id="username" name="username" class="form-control" required type="text" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" name="password" class="form-control" required type="password" />
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input id="name" name="name" class="form-control" type="text" />
                            </div>
                            <button id="submit" type="submit" class="btn btn-black">Sign up</button>
                        </form>
                        <p id="message"></p>
                        <div id="loading-div" class="text-primary"></div><br>
                        <a href="/user/sign-in">Already have an account? Sign in here.</a>
                        <br />
                        <a href="/">Back to homepage.</a>
                </div>
            </div>
        </div>
        <% include ../../partials/footer.ejs %>
        <script type="text/javascript">
            $(document).ready(function() {
                function authenticatedHandler() {
                    alert("You cannot sign up when you are signed in.");
                    $(location).attr("href", "/");
                }
                checkAuthentication(authenticatedHandler);
                $("#submit").on("click", function(event) {
                    event.preventDefault();
                    var form = $("#sign-up-form");
                    var jsonData = getFormData(form);
                    $(form).trigger("reset");
                    $("#loading-div").toggleClass("spinner-border");
                    $.ajax({
                        contentType: "application/json",
                        crossDomain: true,
                        data: JSON.stringify(jsonData),
                        type: "post",
                        url: "https://eventhunter-authentication.herokuapp.com/user/sign-up",
                        success: function() {
                            alert("Sign up success.");
                            $(location).attr("href", "/user/sign-in");
                        },
                        error: function(xhr) {
                            $("#loading-div").toggleClass("spinner-border");
                            alert("Sign up fail.");
                            $("#message").text(xhr.responseText);
                        }
                    });
                });
            });
        </script>
    </body>
</html>
