<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/header.ejs %>
        <link href="/css/user.css" rel="stylesheet">
        <title>EventHunter | Sign Out</title>
    </head>
    <body>
        <div class="signoutWrapper">
            <h1 class="text-center">Thanks for signing out. You will be redirected to home page in <span id="countdown">5</span> seconds</h1>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                localStorage.removeItem("token");
                for (let i = 4; i > 0; i--){
                    setTimeout(() => {
                        $("#countdown").text(i);
                    }, 5000 - (1000*i));
                }
                setTimeout(() => {
                    $(location).attr("href", "/");
                }, 5000);
            });
        </script>
    </body>
</html>
