<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/header.ejs %>
        <link href="/css/user.css" rel="stylesheet">
        <link href="/css/one-page-wonder.min.css" rel="stylesheet">
        <title>EventHunter | Sign In</title>
    </head>
    <body>
        <% include ../../partials/navbar.ejs%>
        <div class="container-fluid" id="sign">
            <div class="row" >
                <div class="col-sm-3 col-md-6" id="background">   
                </div>
                <div class="col-sm-9 col-md-6" id="right">
                    <h1 class="text-center">Sign In</h1>
                    <form id="sign-in-form">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input id="username" name="username" class="form-control" required type="text" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" name="password" class="form-control" required type="password" />
                        </div>
                        <button class="btn btn-black" id="submit" type="submit">Sign in</button>
                    </form>
                    <p id="message"></p>
                    <div id="loading-div" class="text-primary"></div><br>
                    <a href="/user/sign-up">Don't have an account yet? Sign up here.</a>
                    <br />
                    <a href="/">Back to homepage.</a>
                </div>
            </div>
        </div>
        <% include ../../partials/footer.ejs %>
        <script type="text/javascript">
            $(document).ready(function() {
                function authenticatedHandler() {
                    alert("You have already signed in.");
                    $(location).attr("href", "/");
                }
                checkAuthentication(authenticatedHandler);
                $("#submit").on("click", function(event) {
                    event.preventDefault();
                    var form = $("#sign-in-form");
                    var jsonData = getFormData(form);
                    $(form).trigger("reset");
                    $("#loading-div").toggleClass("spinner-border");
                    $.ajax({
                        contentType: "application/json",
                        crossDomain: true,
                        data: JSON.stringify(jsonData),
                        type: "post",
                        url: "https://eventhunter-authentication.herokuapp.com/user/sign-in",
                        success: function(data) {
                            localStorage.setItem("token", data);
                            alert("Sign in success.");
                            $(location).attr("href", "/");
                        },
                        error: function(xhr) {
                            $("#loading-div").toggleClass("spinner-border");
                            alert("Sign in fail.");
                            $("#message").text(xhr.responseText);
                        }
                    });
                });
            });
        </script>
    </body>
</html>
