<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/header.ejs %>
        <title>EventHunter | Create Event</title>
        <link href="/css/one-page-wonder.min.css" rel="stylesheet">
    </head>
    <body>
        <% include ../../partials/navbar.ejs%>
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container">
                    <h1 >CREATE YOUR OWN EVENTS</h1>
                    <h4></h4>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <section>
                <div class="container pb-3">
                        <h1 class="text-center" style="padding-top:4%;">Create Event</h1>
                        <form id="create-event-form">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input id="title" name="title" class="form-control" required type="text" />
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <input id="category" name="category" class="form-control" required type="text" />
                            </div>
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input id="location" name="location" class="form-control" required type="text" />
                            </div>
                            <div class="form-group">
                                <label for="startTime">Start time</label>
                                <input id="startTime" name="startTime" placeholder="yyyy-MM-ddTHH:mm" class="form-control" required type="datetime-local" />
                            </div>
                            <div class="form-group">
                                <label for="endTime">End time</label>
                                <input id="endTime" name="endTime" placeholder="yyyy-MM-ddTHH:mm" class="form-control" required type="datetime-local" />
                            </div>
                            <div class="form-group">
                                <label for="imageUrl">Image URL</label>
                                <input id="imageUrl" name="imageUrl" class="form-control" required type="url" />
                            </div>
                            <div class="form-group">
                                <label for="totalTickets">Total tickets</label>
                                <input id="totalTickets" name="totalTickets" class="form-control" required type="number" />
                            </div>
                            <button id="submit" type="submit" class="btn btn-primary">Create</button>
                        </form>
                        <p id="message"></p>
                        <div id="loading-div" class="text-primary"></div><br>
                    </div>
        </section>
        <% include ../../partials/footer.ejs %>
        <script type="text/javascript">
            $(document).ready(function() {
                function notAuthenticatedHandler() {
                    alert("Please sign in first.");
                    $(location).attr("href", "/user/sign-in");
                }
                function errorHandler() {
                    alert("Unknown authentication status.");
                    $(location).attr("href", "/user/sign-in");
                }
                checkAuthentication(undefined, notAuthenticatedHandler, errorHandler);
                $("#submit").on("click", function(event) {
                    event.preventDefault();
                    var form = $("#create-event-form");
                    var jsonData = getFormData(form);
                    $(form).trigger("reset");
                    $("#loading-div").toggleClass("spinner-border");
                    $.ajax({
                        contentType: "application/json",
                        crossDomain: true,
                        data: JSON.stringify(jsonData),
                        type: "post",
                        url: "https://eventhunter-eventmanager.herokuapp.com/event/create",
                        beforeSend: function(xhr) {
                            if (localStorage.getItem("token")) {
                                xhr.setRequestHeader("Authorization", localStorage.getItem("token"));
                            }
                        },
                        success: function() {
                            alert("Create event success.");
                            $(location).attr("href", "/event/view-all");
                        },
                        error: function(xhr) {
                            $("#loading-div").toggleClass("spinner-border");
                            alert("Create event fail.");
                            $("#message").text(xhr.responseText);
                        }
                    });
                });
            });
        </script>
    </body>
</html>
