<!DOCTYPE html>
<html>
    <head>
        <% include ../../partials/header.ejs %>
        <title>EventHunter | All Events</title>
        <link href="/css/one-page-wonder.min.css" rel="stylesheet">
    </head>
    <body>
        <% include ../../partials/navbar.ejs%>
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container">
                    <h1 >THINGS TO DO IN JAKARTA</h1>
                    <h4>Looking for something to do in Jakarta? Whether you're a local, new in town or just cruising through we've got loads of great tips and events. You can explore by location, what's popular, our top picks, free stuff... you got this. Ready?</h4>
                    <a href="/event/create/" class="btn btn-secondary btn-xl rounded-pill mt-5 text-dark">Create event here.</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <section>
            <div class="container pb-5">
                    <h1 class="text-center" style="padding-top:4%;">All Events</h1>
                    <table id="events-list" class="table table-responsive table-bordered">
                        <tr>
                            <th class="text-center">Created and managed by...</th>
                            <th class="text-center">Event Id</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Location</th>
                            <th class="text-center">Start Time</th>
                            <th class="text-center">End Time</th>
                            <th class="text-center">Total Tickets</th>
                            <th class="text-center">Choose this event?</th>
                        </tr>
                    </table>
            </div>
        </section>
        <% include ../../partials/footer.ejs %>
        <script type="text/javascript">
            $(document).ready(function() {
                $.ajax({
                    crossDomain: true,
                    type: "get",
                    url: "https://eventhunter-eventmanager.herokuapp.com/event/get-all",
                    success: function(data) {
                        for (var i = 0; i < data.length; i++) {
                            $("#events-list").append(`
                                <tr id=\"` + (i+1) + `\">
                                    <td class="text-center">` + data[i].managerUsername + `</td>
                                    <td class="text-center">` + data[i].id + `</td>
                                    <td class="text-center">` + data[i].title + `</td>
                                    <td class="text-center">` + data[i].category + `</td>
                                    <td class="text-center">` + data[i].location + `</td>
                                    <td class="text-center">` + data[i].startTime + `</td>
                                    <td class="text-center">` + data[i].endTime + `</td>
                                    <td class="text-center">` + data[i].totalTickets + `</td>
                                   <td><button onclick="goto(`+data[i].id+`)"class=\"btn btn-success btn-block rounded-pill\" id=\"btn` + (i+1) + `\">Press This</td>
                                </tr>
                            `);
                        }
                    },
                    error: function() {
                        alert("Unknown error.");
                    }
                });
            });

            function goto(id){
                window.location.href=`/ticket/checkout?id=`+id
            }
        </script>
    </body>
</html>
