<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
        <title>EventHunter</title>
    </head>
    <body>
        <% include ../partials/navbar.ejs %>
        <!-- <div class="jumbotron">
            <h1><span class="text-primary">Event</span><span class="text-danger">Hunter</span></h1>
        </div>
        <p id="authentication-status">Checking authentication status...</p>
        <ul>
            <li><a class="btn btn-primary" id="sign-up-link" href="/user/sign-up/">Sign Up</a></li>
            <li><a class="btn btn-primary" id="sign-in-link" href="/user/sign-in/">Sign In</a></li>
            <li><a class="btn btn-danger" id="sign-out-link" href="/user/sign-out/">Sign Out</a></li>
            <li><a class="btn btn-primary" id="create-event-link" href="/event/create/">Create Event</a></li>
            <li><a class="btn btn-primary" id="view-event-link" href="/event/view-all/">All Events</a></li>
            <li><a class="btn btn-primary" href="/ticket/checkout/">Checkout</a></li>
            <li><a class="btn btn-primary" id="all-tickets-link" href="/user/dashboard/tickets/">List All Tickets</a></li>
        </ul> -->
        <!-- Navigation -->
        
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container">
                    <h1 class="masthead-heading mb-0">DISCOVER MORE</h1>
                    <h4 class="masthead-subheading mb-0">Best Platform for Selling and Booking Tickets Online</h4>
                    <a href="/event/view-all/" class="btn btn-secondary btn-xl rounded-pill mt-5">ALL EVENTS</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5">
                            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Create events for free!</h2>
                            <p>Whether your event is a conference with thousands of attendees or a small party with friends, EventHunter gives you the power to fully-customize your event registration process. EventHunter's powerful analytics allow you to easily track and manage your events in one place. We take analytics seriously, giving you unprecendented power to understand your event performance. </p>
                            <a href="/event/create/" class="btn btn-primary btn-xl rounded-pill mt-5">CREATE EVENTS</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <img class="img-fluid rounded-circle" src="img/02.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Manage your events!</h2>
                            <p>With EventHunter, you can easily track your event registration process, cancel your bookings, and get your pdf tickets </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5">
                            <img class="img-fluid rounded-circle" src="img/03.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Let there be rock!</h2>
                            <p>Are you ready to dive with us?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% include ../partials/footer.ejs %>
  
        <script type="text/javascript">
            $(document).ready(function() {
                function authenticatedHandler() {
                    $("#auth-loading-div").toggleClass("spinner-border text-warning");
                    $("#authentication-status").text("You are signed in.");
                    $("#sign-up-link").toggleClass("disabled");
                    $("#sign-in-link").toggleClass("disabled");
                }
                function notAuthenticatedHandler() {
                    $("#auth-loading-div").toggleClass("spinner-border text-warning");
                    $("#authentication-status").text("You are not signed in.");
                    $("#sign-out-link").toggleClass("disabled");
                    $("#create-event-link").toggleClass("disabled");
                    $("#view-event-link").toggleClass("disabled");
                    $("#all-tickets-link").toggleClass("disabled");
                }
                function errorHandler() {
                    $("#auth-loading-div").toggleClass("spinner-border text-warning");
                    $("#authentication-status").text("Unknown authentication status.");
                }
                checkAuthentication(authenticatedHandler, notAuthenticatedHandler, errorHandler);
            });
        </script>
    </body>
</html>
